.DS_Store
*.pyc
*.komodoproject
._*
.tern-project
.idea
.vscode/
typings/
node_modules/
packages/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.floo
.flooignore
builtAssets/
pm2.js
*.env
pids
logs
results
tmp
pinegrow.json
_pgbackup

npm-debug.log
*.iml
Thumbs.db
bower_components
main.css
bundle.js
coverage
.remote-sync.json
css/
server/*.bundle.js
public/js/bundle*

*.map
.magicindex.json
.meteor/local
.meteor/meteorite
packages/jalik-*
media/
settings-dev.json
atom/
fonts/
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
